.container {width: 40%; margin: 0 auto;}
.container .form-control {margin: 10px 0;}
.container .btn-primary {width: 100%;}
.container .sub-info {margin: 30px 0 0 0;}
.container .sub-info span {text-align: center;}

.footer {margin: 8px 0;}