{% extends 'base.html' %}
{% block title %}main{% endblock %}
{% block content %}

{% if popup %}
    <script>
    alert("검색 결과가 없습니다.");
    location.href("/main");
    </script>  
{% endif %}

<form action="{% url 'search' %}" method="GET" class="nav-bar search">
  <input onkeyup="enterkey();" type="text" name="q" value="{{q}}" class="search-query" placeholder="과목명, 교수명으로 검색">
</form>
<class="section"> 
  <select class="semester-choice">
    <option>2019-2</option>
    <option>2019-1</option>
    <option>2018-2</option>
    <option>2018-1</option>
  </select>

  <!--{{ my_lectures }}-->
  <div class="mylectures">
    <span class="lecture">
      <h3> 내가 들은 과목 </h3>
        <ul class="list-group list-group-flush">
          
          <button class="list-group-item">          
            <form action="{% url 'new' mylecture.myuserid pk %}" method="POST">
              {% for ml in mylecture %}
                <span class="name">{{ml.lecturename}}</span>
                <span class="professor">{{ml.professor}}</span>

                {% if ml.rating == off %}
                <span class="btn_completed">
                  <input type="submit" value="평가완료" class="btn btn-sm">
                </span>
                {% else %}
                <span class="btn_proceed">
                  <input type="submit" value="평가하기" class="btn btn-danger">
                </span>
              {% end for %}
            </form>

        </ul>
    </span>
  </div>

  <!-- Modal -->
  <!--   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">강의평가 하기</h4>
        </div>
        <div class="modal-body">
          <dl>
            <dt>강의 퀄리티</dt>
            <dd>
              <div class="btn-group" role="group" aria-label="quality group">
                <button type="button" class="btn btn-sm btn-default">1점</button>
                <button type="button" class="btn btn-sm btn-default">2점</button>
                <button type="button" class="btn btn-sm btn-default">3점</button>
                <button type="button" class="btn btn-sm btn-default">4점</button>
                <button type="button" class="btn btn-sm btn-default">5점</button>
              </div>
            </dd>
            <dt>과목 난이도</dt>
            <dd>
              <div class="btn-group" role="group" aria-label="level group">
                <button type="button" class="btn btn-sm btn-default">1점</button>
                <button type="button" class="btn btn-sm btn-default">2점</button>
                <button type="button" class="btn btn-sm btn-default">3점</button>
                <button type="button" class="btn btn-sm btn-default">4점</button>
                <button type="button" class="btn btn-sm btn-default">5점</button>
              </div>
            </dd>
            <dt>수강학기</dt>
            <dd>2019-2학기</dd>
          </dl>
          <textarea name="text" class="text" placeholder="강의평을 남겨주세요."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" cols=40 rows=10 class="btn btn-danger">평가완료</button>
        </div>
      </div>
    </div>
  </div>
</>-->
<div class="section">
  <h3>최근 강의평</h3>
  {% for b in board %}
    <hr>
    <div class="articles">
      <a class="article" href="{{ b.get_absolute_url }}"> <!--해당 과목의 detail url로 연결-->
        <h3>{{b.lecture.lecturename}}</h3>
        <p class="rate">
          <span class="quality-star">
            <span>퀄리티점수: {{b.quality}}점</span>
          </span>
          <span class="level-star">
            <span>난이도 점수: {{b.challenge}}점</span>
          </span>
        </p>
        <p class="info">
          <span class="semester">19년 2학기 수강자</span>
        </p>
        <p class="text">{{b.content}}</p>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}